body{
    background: url(pogigarden.jpg);
}
a{
    text-decoration: none;
}
@font-face {
    font-family: The Seasons Regular;
    src: url("The Seasons Regular.ttf");
}
main{
    color: white;
    text-align: center;
    padding: 2% 35%;
    filter: brightness(110%);
}
main h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    /* TT commons pro expanded is a paid font so it is not available*/
    /* Uses sans-serif instead */
    font-family: ttcommonsproexpandedthin, sans-serif;
    font-weight: 250;
}
main h1{
    font-size: 5.1rem;
    text-transform: capitalize;
    padding-top: 1rem;
    font-family: The Seasons Regular, serif;
    font-weight: 450;
}
main p{
    font-size: 1.3rem;
    font-family: ttcommonsproexpandedthin, sans-serif;
}
main button{
    font-family: ttcommonsproexpandedthin, sans-serif;
    text-transform: uppercase; 
}
main ul li{
    display: inline;
    list-style-type: none;
    font-size: 2.25rem;
    padding-right: 6%;
}
main ul li a{
   color: white;
   padding-top: 1rem;
}
input{
    accent-color: #04AA6D;
}
.btn{
    border-radius: 2rem;
    border: 2px solid #333;
    background-color: white;
    color: black;
    padding: 0.35rem 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.default{
    border-color: #e7e7e7;
    color: black;
}
.default:hover {
    background: #e7e7e7;
}

@media all and (max-width: 767px){
    main h1{
        font-size: 2.5rem;
    }
}
@media all and (max-width: 504px){
    main ul li{
        display: block;
    }
}
@media all and (max-width: 30rem){
    main h1{
        font-size: 2rem;
    }
}
@media all and (min-width: 768px) and (max-width: 60rem){
    main h1{
        font-size: 3.8rem;
    }
}

::selection{
    background-color: #04AA6D;
    color: white;
}

/* Notify Modal */
#notify{
    box-sizing: border-box;
    padding: 10%;
}
#notify h1{
    font-family: The Seasons Regular, serif;
}
#notify p, #notify label{
    font-family: ttcommonsproexpandedthin, sans-serif;
}
#notify input[type=text], input[type=password] {
    width: 80%;
    padding: 1rem;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
    border-radius: 2rem;
    }
#notify input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    }
#notify hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 1.5rem;
    }
#notify button {
    color: white;
    padding: 14px 20px;
    margin: 8px 4px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
#notify button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.signupbtn{
    background-color: #04AA6D;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 49%;
    border-radius: 1.5rem;
}
#notify .container {
    padding: 1rem;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(250,250,250,0.85);
    padding-top: 3.2rem;
    }
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}
@media all and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}
/* Notify Modal end */